doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  <script src="js/script.js"></script>
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='#') Blog 
  button(onclick="location.href = 'register';")#register Register
main
  section#intro-text
    span Simple Kitchen
    h3
      | Simple &amp; Comforting 
      br
      |             Recipes All Year Round
    p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
    //
      <p class="success">SUCCESS</p>
      <p class="error">ERROR</p>
      <p class="warning">WARNING</p>
    button.submit-buttton View Recipes
  section#intro-image
    div#register-form
        h3 Thanks for your registration!
footer
  | &copy; Copyright 2021